*{
	font-family: cursive;
}
body{
	margin: 0;	background:url(../images/signup_background.jpg) no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size: cover;
	

}
.containerr{
	width:40%;
	height: 300px;
	text-align: center;
	background-color: rgba(52,73,94,.8);
	border-radius: 17px;
	margin: 0 auto;
	margin-top: 200px;
	border-left:3px solid #e6e600;
	border-right:3px solid #e6e600;
}
.containerr img{
	width: 150px;
	height:70px;
	margin-top: -36px;
	background-color: white;
	margin-bottom: 2%;
	border-top:4px solid  #e6e600;
	border-radius:0 30px 0 30px; 
}

form .form-control{
	width: 80%;
	margin-left: 10%;
	text-align: center;
	font-size: 13px;

}
form .form-group label{
	color:white;
	font-weight: bolder;
	font-size: 20px;

}
form .form-group small {
	color:  #b3b3b3;
}
.Login-Button{
	background-color:  #3366ff;
	border: none;
	width: 70px;
	height: 40px;
	color: white;
	border-radius: 7%;
	font-weight: bolder;
	
}
.Login-Button:hover{
	animation-name: buttonHover;
	animation-duration: 4s ;
	animation-iteration-count: infinite;
}
@keyframes buttonHover {
    0%   {background-color: #e6e600;}
    25%  {background-color: #3366ff;}
    50%  {background-color: #e6e600;}
    100% {background-color: #3366ff;}
}
