    * {
        margin: 0;
        padding: 0;
    }
    
    .navbar-inverse .container-fluid .navbar-header .Logo {
        width: 200px;
        height: 50px;
        float: right;
        margin-top: -2px;
        float: left;
    }
    
    .navbar-inverse .container-fluid {
        background-color: #000;
        color: #FFF;
        width: 100%;
    }
    
    .navbar-inverse .container-fluid .nav .active {
        color: #FFF;
    }
    
    .navbar-inverse .container-fluid .navbar-form .form-group {
        margin-left: -20px;
    }
    
    .navbar-inverse .container-fluid .navbar-form .form-group input {
        color: #191919;
        width: 137%;
        box-sizing: border-box;
        border: 0 solid;
        border-radius: 5px;
        font-size: 14px;
        background-color: white;
        background-image: url('../images/search.png');
        background-position: 4px 3px;
        background-repeat: no-repeat;
        background-size: 26px;
        padding: 6px 23px 8px 40px;
    }
    /*____________________________________________________________*/
    
    body {
        background-color: #F7F7F7;
    }
    
    content .container {
        background-color: white;
        margin-top: 20px;
    }
    
    .container {
        width: 94%;
    }
    
    .firstRow {
        border-bottom-width: 60%;
    }
    
    .introVideo {
        width: 100%;
        padding: 0;
        padding: 10px;
        height: auto;
    }
    
    .insName {
        width: 130px;
        height: 130px;
        border: solid #578ed2;
        border-radius: 50%;
        margin-top: 5px;
    }
    
    .media {
        padding: 20px;
    }
    
    .media-body h2 {
        color: #578ed2;
        padding: 5px;
    }
    
    .media-body small {
        color: gray;
        padding: 5px;
    }
    
    h6 {
        padding: 0 auto;
        color: gray;
    }
    
    .rating {
        float: right;
        padding: 0;
    }
    
    .rating span {
        font-size: 30px;
    }
    
    .rating>span:hover:before {
        content: "\2605";
        position: absolute;
    }
    
    .rating {
        unicode-bidi: bidi-override;
        direction: rtl;
    }
    
    .rating>span:hover:before,
    .rating>span:hover~span:before {
        content: "\2605";
        position: absolute;
    }
    
    .rating {
        unicode-bidi: bidi-override;
        direction: rtl;
    }
    
    .rating>span {
        display: inline-block;
        position: relative;
        width: 1.1em;
    }
    
    .rating>span:hover:before,
    .rating>span:hover~span:before {
        content: "\2605";
        position: absolute;
    }
    
    .details {}
    
    .social {
        float: left;
        padding: 7px;
    }
    
    .social img {
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }
    
    .social .twitter {
        background-color: #1dc6ff;
    }
    
    .social img:hover {
        
        animation-name: links;
        animation-duration: 1s;
    }
    
    @keyframes links {
        from {
            width: 25px;
        }
        to {
            width: 30px;
        }
    }
    
    .comment {
        width: 100%;
        height: auto;
    }
    
    textarea.form-control {
        resize: none;
        width: 100%;
        height: 100px;
        border: 2px solid #666666;
        padding: 10px;
        border-radius: 0 40px 40px 40px;
    }
    
    .comment button {
        float: right;
        margin: 5px;
    }
    
    .btn-default {
        background-color: #578ed2;
        color: white;
    }
    
    .btn-default:hover {
        animation-name: btnAnimate;
        color: white;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }
    
    @keyframes btnAnimate {
        25% {
            background-color: #e6e6ff;
        }
        50% {
            background-color: #9999ff;
        }
        75% {
            background-color: #578ed2;
        }
        100% {
            background-color: #000066;
        }
    }
    
    details {
        margin-top: 7%;
        background-color: #f2f2f2;
    }
    
    details:active {
        border: none;
    }
    
    details summary {
        font-size: 20px;
        color: #bfbfbf;
    }
    
    .insName {
        width: 100px;
        height: 100px;
        box-shadow: 3px 3px 5px gray;
    }
    
    .insNameSubComment {
        width: 75px;
        height: 75px;
        box-shadow: 3px 3px 5px gray;
        border-radius: 50%;
        border: solid #578ed2;
    }
    
    h3 {
        color: #578ed2;
        padding: 5px;
    }
    
    .media-body small {
        color: gray;
        padding: 5px;
    }
    
    input.search {
        color: #578ed2;
        width: 200px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-image: url('../images/search.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        background-size: 27px;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }
    
    input[type=text]:focus {
        width: 50%;
    }
    
    .searchBtn {
        border: 1px solid white;
    }
    
    .SmallVidsdesc {
        padding-left: 0;
    }
    
    
    
    
    
    .parentAssignments h2 {
        color: #4d4d4d;
    }
    
    .assignmentNameTaken {
        color: #578ed2;
    }
    
    .passedCheckBoxContainer {
        padding: 0;
        padding-top: 5px;
    }
    
    .radio-inline {
        font-size: 15px;
    }
    
    .success {
        color: #009933;
    }
    
    .success input {
        color: #009933;
        width: 14px;
    }
    
    .fail {
        color: #ff4d4d;
    }
    
    .fail input {
        width: 14px;
    }
    
    .assignmentNameUnTaken {
        color: #737373;
    }
    
    footer {
        width: 100%;
        height: auto;
        background-color: #000;
        margin-top: 15%;
    }
    
    .footerLogo {
        width: 300px;
        height: 80px;
    }
    
    .footerFirstContainer {
        border-bottom: 1px solid #4d4d4d;
        padding-top: 15px;
    }
    
    .socialFooter {
        padding: 30px;
        float: right;
    }
    
    .socialFooter img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: white;
        border: 9px solid white;
    }
    
    .socialFooter .twitter {
        background-color: #1dc6ff;
        border: 9px solid white;
    }
    
    .socialFooter img:hover {
        animation-name: links;
        animation-duration: 1s;
    }
    
    @keyframes links {
        from {
            color: 40px;
        }
        to {
            width: 45px;
        }
    }
    
    .footerSecondContainer p {
        justify-content: left;
        float: left;
        font-size: 13px;
        font-weight: bolder;
        padding-top: 15px;
        color: #4d4d4d;
    }
    
    .terms {
        padding-top: 50px;
        float: right;
    }
    
    .terms a {
        text-decoration: none;
        font-size: 17px;
        margin-left: 1%;
        color: #4d4d4d;
        font-weight: bolder;
    }
    
    .terms a:hover {
        color: white;
    }
